@font-face {
  font-family: LaBrute;
  src: url(./assets/fonts/labrute.ttf) format("truetype"),
    url(./assets/fonts/labrute.woff) format("woff");
}

@font-face {
  font-family: Pixelized;
  src: url(./assets/fonts/BarcadeBrawlRegular.ttf) format("truetype"),
    url(./assets/fonts/BarcadeBrawlRegular.woff) format("woff");
}

@font-face {
  font-family: GameFont;
  src: url(./assets/fonts/Movavi_Grotesque_Black.ttf) format("truetype"),
    url(./assets/fonts/Movavi_Grotesque_Black.woff) format("woff");
}

@font-face {
  font-family: Handwritten;
  src: url(./assets/fonts/acmesa.ttf) format("truetype"),
    url(./assets/fonts/acmesa.woff) format("woff");
}

@font-face {
  font-family: "Blocky";
  src: url(./assets/fonts/Blocky.ttf) format("truetype"),
    url(./assets/fonts/Blocky.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: arial, sans-serif;
  background: linear-gradient(180deg, rgba(247, 225, 183, 1) 0%, rgb(235, 173, 112) 160px);
  min-height: 100vh;
}

#root {
  min-height: 100%;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f6ee90;
}

::-webkit-scrollbar-thumb {
  background: #733d2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a2d1f;
}
